@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@665&family=Inconsolata:wght@200..900&family=Playwrite+MX+Guides&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}
.btn-link{
    text-decoration:
    none;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    padding: 20px;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    background-color: #ffffff;
    color: rgb(243, 0, 0);
}